en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
langdetect==1.0.9
numpy==1.23.5
pandas==1.5.2
pdfplumber==0.10.1
scikit-learn==1.2.1
spacy==3.6.0
streamlit==1.22.0
